.carousel-box {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.carousel-img-small {
    width: 100%;
    height: 600px !important;
    object-fit: cover;
    pointer-events: none;
}

.carousel-info {
    position: relative;
    z-index: 5;
}

.carousel-info h2 {
    font-size: 1.8rem;
}

.carousel-info p {
    max-width: 350px;
}

