.emptycart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
}

.emptycart-card {
    background: #fff;
    padding: 40px;
    border-radius: 18px;
    text-align: center;
    max-width: 450px;
    width: 100%;
    box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.08),
    0 12px 24px rgba(0, 0, 0, 0.10);
}

.emptycart-card h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.emptycart-card h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}