.contenedor-detalle {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    animation: fadeIn 0.6s ease-in;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
.detalle-img img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.779);
    transition: all 0.3s ease;
}

.contenedor-detalle img:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.detalle-info {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detalle-info h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
    border-bottom: 2px solid #00a6d8;
    padding-bottom: 0.5rem;
}

.detalle-info .descripcion {
    color: #444;
    line-height: 1.6;
    font-size: 1rem;
}

.detalle-info .precio {
    font-size: 1.5rem;
    font-weight: 600;
    color: #478e94eb;
    margin-top: 1rem;
}

.detalle-info .comprar {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.btn-comprar {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
}

.btn-comprar:hover {
    background-color: #478e94eb;
    color: white;
    border: none;
    transform: scale(1.05);
}