.saludo-container {
    display: flex;
    flex-direction: column;            
    justify-content: space-evenly;    
    align-items: center;
    min-height: 100vh;        
    height: auto;
    padding: 1rem;             
    background: linear-gradient(to right, #feffffef, #454545);
}

.saludo-container h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
    animation: breathing 4s ease-in-out infinite;
}
@keyframes breathing {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.05); opacity: 0.9; }
}

.card {
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

.card-img-top {
    height: 450px;
    object-fit: cover;
}

.card-title {
    font-size: 1rem !important;
}