.nav-container {
    background-color: black;
    height: 60px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
}

.a-nav {
    color: white;
    font-size: medium;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1rem;
}

.a-nav:hover {
    color: #b6b6b7c7;
}

.logo {
    height: 50px;
    padding: 5px;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.burger {
    display: none;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

/*Media Queries*/

@media (max-width: 768px) {

.burger {
    display: block;
    color: white;
    }

.links-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: #0000008f;
    padding: 1.5rem 0;
    gap: 1.2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 9999;
    }

    .links-container.active {
        display: flex;
    }

    a-nav:hover {
    color: #23abe6c7;
}
}
