.nav-container {
    background-color: black;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.a-nav {
    color: white;
    font-size: medium;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    height: 50px;
    padding: 5px;
}
